<html>
<head>
    <title>Image Upload - Finstagram</title>
</head>
<body>
    <h1>Upload an Image</h1>
    <div>
        <form action="/uploadImage" method="post" enctype="multipart/form-data">
            <h4>Select a photo</h4>
            <input type="file" name="imageToUpload" accept="image/*">
            <br />

            <h4>Show to all followers?</h4>
            <input type="radio" name="allFollowers" value="1"> Yes<br>
            <input type="radio" name="allFollowers" value="0" checked> No<br>
            <br />

            <h4>Which FriendGroups to share this photo with?</h4>

            {% for group in friendgroups %}
            <input type="checkbox" name={{group.owner_username}} value={{group.groupName}}>{{group.owner_username}} {{group.groupName}}<br>
            {% endfor %}

            <input type="submit" value="Submit">
        </form>
    </div>

    {% if msg %}
    <h4>{{msg}}</h4>
    {% endif %}

    <a href="/">Go back</a>
</body>
</html>